/* www.williammortl.com style sheet */
/* hand coded by William M Mortl */

/* applies to all elements */
body
{
    background-color: #202020;
    color: white;
    text-align: center;

    /* stops iphone from resizing text */
	-webkit-text-size-adjust: none;
}

/* specific styles */
div.main
{
	width: 1000px;
	border: 1px white dashed;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0 25px 25px 25px;
	background-color: black; 
	font-family: calibri, arial;
	font-size: 36pt;
	padding: 25px;
    text-align: center;
    text-shadow: gray 2px 2px 2px;
}

/* hover */
a
{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
a:hover
{
	text-decoration: underline;
	text-shadow: gray 2px 2px 2px;
}